.container {
  width: 26px;
  height: 100%;
  border-left: 1px solid var(--border-color-2);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  background: var(--background-1);
  box-sizing: border-box;
  overflow: hidden;
}

.button {
  width: 100%;
  border: none;
  border-radius: 2px;
  background: transparent;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px 0;
  line-height: 1;
}

.button:hover {
  background: var(--background-10);
}

.active {
  background: var(--background-9);
}

.icon {
  content: '';
  width: 16px;
  height: 16px;
  background: url('./noti.svg') center/cover no-repeat;
}

.text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  line-height: 1;
  transform: translateX(-1.5px);
}