.container {
  background: var(--background-1);
  user-select: none;
  align-items: center;
  width: 100%;
  position: relative;
  height: 24px;
  font-size: 13px;
  color: var(--color-1);
}

.options {
  display: flex;
  padding-left: 8px;
  flex-direction: row;
  border-bottom: 1px solid var(--border-color-1);
}

.option {
  width: fit-content;
  padding: 0 4px;
}

.option.active {
  background: var(--background-2);
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 24px;
  background: var(--background-1);
  border: 1px solid var(--border-color-1);
  padding: 0 4px;
}
