.container {
  width: 300px;
  height: 100%;
  border-left: 1px solid var(--border-color-2);
  background: var(--background-1);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.header {
  background: var(--background-1);
  border-bottom: 1px solid var(--border-color-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 2px;
}

.timelineHeader {
  background: var(--background-1);
  border-bottom: 1px solid var(--border-color-2);
  display: flex;
  color: var(--color-2);
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px;
}

.title {
  font-size: 13px;
}

.list {
  flex: 1;
  overflow: auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.empty {
  font-size: 12px;
  color: var(--color-2);
  text-align: center;
  padding-top: 24px;
}

.item {
  border-radius: 8px;
  padding: 8px;
  background: var(--background-11);
}

.itemHeader {
  display: flex;
  align-items: center;
  gap: 6px;
}

.typeTag {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}

.info {
  background: url("../../../../assets/icon/info.svg") center / cover no-repeat;
}

.warning {
  background: url("../../../../assets/icon/warning.svg") center / cover no-repeat;
}

.error {
  background: url("../../../../assets/icon/error.svg") center / cover no-repeat;
}

.time {
  margin-left: auto;
  font-size: 11px;
}

.deleteButton {
  color: var(--color-3);
  border: none;
  background: transparent;
  font-size: 11px;
  cursor: pointer;
  padding: 0;
}

.deleteButton:hover {
  text-decoration: underline;
}

.itemTitle {
  margin-top: 6px;
  font-size: 12px;
}

.itemContent {
  margin-top: 3px;
  font-size: 12px;
  line-height: 1.4;
  word-break: break-word;
}
