@import "tailwindcss";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background-1: #3c3f41;
  --background-2: #4b6eaf;
  --background-3: #3b4754;
  --background-4: #262e37;
  --background-5: #27292a;
  --background-6: #747a80;
  --background-7: #4c5052;
  --background-8:#0d293e;
  --background-9:#2d2f30;
  --background-10:#353739;
  --background-11:#45494a;
  --background-12:#4e5052;
  --background-13:#43494a;
  --background-14:#365880;
  --color-1: #b9b9b9;
  --color-2: #787878;
  --color-3: #589df6;
  --color-4: #595b5d;
  --border-color-1: #515151;
  --border-color-2: #323232;
  --border-color-3: #54585a;
  --border-color-4: #414141;
  --border-color-5: #646464;
  --border-color-6: #466d94;
  --border-color-7: #3d6185;
  --border-color-8: #6b6b6b;
  --border-color-9: #4c708c;
  --border-color-10: #5e6060;
  --z-menu: 5;
  --z-menu-sub: 10;

  color: var(--color-1);
  background-color: var(--background-1);
}

@media (prefers-color-scheme: dark) {
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/**
和下面的代码冲突，所以注释掉
{
  scrollbar-width: thin !important;
  scrollbar-color: var(--color-4) transparent !important;
} 
*/

*::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-4) !important;
  border-radius: 0 !important;
  border: 0 solid transparent !important;
  background-clip: content-box !important;
}

*::-webkit-scrollbar-track {
  background: transparent !important;
  border: none !important;
}

*::-webkit-scrollbar-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}