@import "tailwindcss";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background-1: #3c3f41;
  --background-2: #4b6eaf;
  --background-3: #3b4754;
  --background-4: #262e37;
  --background-5: #27292a;
  --background-6: #747a80;
  --background-7: #4c5052;
  --color-1: #b9b9b9;
  --border-color-1: #515151;
  --border-color-2: #323232;
  --z-menu: 5;
  --z-menu-sub: 10;

  color: var(--color-1);
  background-color: var(--background-1);
}

@media (prefers-color-scheme: dark) {
}
